.overly-mask,
.menu-overly-mask {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 15;
}

.overly-mask.is-visible {
    cursor: pointer;
    opacity: 0.25;
    visibility: visible;
}

.menu-overly-mask.is-visible {
    cursor: pointer;
    opacity: 0.55;
    visibility: visible;
}

.cart-sidebar-content,
.menu-sidebar-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}

.menu-sidebar-content {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.cart-sidebar {
    background-color: #fff;
    bottom: 0;
    color: #333;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    right: -300px;
    transition: right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transition: right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -moz-transition: right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -ms-transition: right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -o-transition: right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    width: 300px;
    z-index: 10000;
    top: 0;
}

.cart-sidebar .cart-sidebar-header {
    background: #3a3a3a;
    padding: 15px;
    height: 50px;
}

.cart-sidebar .cart-sidebar-header h3 {
    color: #fff;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: unset;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

.cart-sidebar .cart-sidebar-header .cart-close-trigger {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px;
    color: #ddd;
}

.cart-sidebar .cart-sidebar-header .cart-close-trigger .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    opacity: 1;
    text-shadow: none;
}

.cart-sidebar .cart-sidebar-header .cart-close-trigger .close:hover {
    color: #fff;
}

.cart-sidebar .cartMenu {
    height: 100%;
}

.cart-sidebar .cartMenu .scroll-pane {
    height: 90%;
    height: calc(100% - 95px - 51px);
}

.cart-sidebar .cartMenu .scroll-pane .mCSB_container {
    margin-right: 12px;
}

.cart-sidebar .cartMenu table tr td {
    padding: 10px 0;
}

.cart-sidebar .cartMenu table tr td.delete {
    padding-left: 10px;
    padding-right: 10px;
}

.cart-sidebar .cartMenu table tr td.delete button.close {
    float: left;
}

.cart-sidebar .cartMenu table tr:last-child {
    border-bottom: none;
}

.cart-sidebar .miniCartProduct {
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    -ms-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}

.cart-sidebar .miniCartProduct:hover {
    background: #f9f9f9;
}

.cart-sidebar .subtotal {
    padding-bottom: 0;
    padding-right: 5px;
}

.cart-sidebar .cart-panel-footer {
    border-top: 1px solid #ddd;
}

.cart-sidebar .cart-panel-footer .col-sm-6 {
    padding: 10px 5px;
}

.menu-sidebar {
    background-color: #fff;
    bottom: 0;
    color: #333;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    left: -300px;
    transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -moz-transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -ms-transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -o-transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    width: 300px;
    z-index: 10000;
    top: 0;
}

.menu-sidebar .cart-sidebar-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}

.menu-sidebar.is-visible {
    left: 0;
}

.cart-sidebar.is-visible {
    right: 0;
}

.menu-sidebar-content .inner {
    padding: 48px;
}

.menu-sidebar-content .menu-sidebar-header h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 700;
}

.nav-tree-light {
    margin-top: 30px;
}

.nav-tree-light li > a {
    text-transform: uppercase;
}

.nav-tree-light li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 16px 0;
    text-decoration: none;
}

.nav-tree-light li a:hover {
    opacity: .75;
}

.nav-tree-light li ul {
    background: none !important;
}

.nav-tree-light li ul a {
    font-size: 12px;
    padding: 10px 0 10px 15px;
}
