tfoot.footable-pagination tr td {
    text-align: center;
}

.footable-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.footable-nav li {
    display: inline-block;
}

.footable-nav li a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.footable-nav .footable-page-current {
    background: #888;
    border-radius: 50%;
}

.footable-nav .footable-page-current a {
    color: #fff;
}