/*

This less file only for story pages.

*/
/*
   usage
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hide-md {
        display: none;
    }
}

@media (max-width: 360px) {
    .col-xxs-12 {
        width: 100%;
    }
}

/* Mixin */
/* Implementation */
#div {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Implementation */
#div {
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
}

/* Implementation */
#div {
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

/* Implementation */
.transition-all {
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    -ms-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}

/* Implementation */
#div {
    -webkit-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
    -moz-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
    -o-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
    -ms-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
    transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
}

/* gradient Implementation */
#div {
    background-color: #663333;
    background-image: -webkit-linear-gradient(left, #663333, #333333);
    background-image: -moz-linear-gradient(left, #663333, #333333);
    background-image: -o-linear-gradient(left, #663333, #333333);
    background-image: -ms-linear-gradient(left, #663333, #333333);
    background-image: linear-gradient(left, #663333, #333333);
}

/* Implementation */
#div {
    background-color: #BADA55;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/* Implementation */
#div {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
}

/* COMMON CLASS */
.hw100 {
    height: 100%;
    width: 100%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-margin-no-padding {
    margin: 0;
    padding: 0;
}

.relative {
    position: relative;
}

.zindex10 {
    z-index: 10;
}

.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* STYLE CONTENT  */
.no-margin-bottom {
    margin-bottom: 0;
}

.overlay-shade {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.background-overly {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.background-overly-inner {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
}

.relative1 {
    position: relative;
    z-index: 2;
}

.relative5 {
    position: relative;
    z-index: 5;
}

.center-col {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.btn-story {
    border-radius: 20px;
    letter-spacing: 2px;
    margin-top: 15px;
    padding: 10px 40px;
    text-transform: lowercase;
}

.btn-story-2 {
    border-radius: 20px;
    letter-spacing: 2px;
    margin-top: 15px;
    padding: 10px 80px;
    text-transform: lowercase;
}

.scrollmore {
    bottom: 70px;
    color: #fff !important;
    font-size: 12px;
    margin-left: -19px;
    left: 50%;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    z-index: 11;
}

.scrollmore:hover {
    opacity: 0.5 !important;
}

.story {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: inline-block;
    float: left;
    min-height: 100%;
    height: 620px;
    /* For Screen Higher than 1400px */
    position: relative;
    width: 100%;
}

@media (min-width: 1401px) {
    .story {
        height: 840px;
    }
}

@media (min-width: 1900px) {
    .story {
        height: 1040px;
    }
}

.story .background-overly {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8c000000, endColorstr=#8c000000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8c000000, endColorstr=#8c000000);
}

.story .storyText {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .story .storyText {
        max-width: 645px;
    }
}

.story h1 {
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 45px;
    font-weight: 200;
    line-height: 45px;
    margin: 0;
    text-align: inherit;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.story h2 {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    padding: 0;
}

.story .fil {
    background: #fff;
    color: #020416;
    display: inline-block;
    font-size: 24px;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.story p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: inherit;
}

.story .text-center p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.story .btn {
    margin-top: 5px;
}

.story .sform {
    max-width: 280px;
    margin: 30px auto 0;
    clear: both;
}

.story .sform input.form-control {
    height: 42px;
    border-radius: 20px;
    text-align: center;
    border: 0;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9ffffff, endColorstr=#d9ffffff);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9ffffff, endColorstr=#d9ffffff);
}
