<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: #0B59A0"> Carte Carburant </h3>
                    <ul>
                        <li><a href="http://www.total.tn/CarteCarburantTotal.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0;"></i>
                                La carte Total Card
                            </a></li>
                        <li><a href="http://www.total.tn/CarteCarburantTotal/AvantagesCarteTotal.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Avantages de la carte
                            </a></li>
                        <li><a href="http://www.total.tn/CarteCarburantTotal/Solutionscartes.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Nos solutions
                            </a></li>
                        <li><a href="http://www.total.tn/CarteCarburantTotal/EquipeDediee.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Une équipe dédié
                            </a></li>
                        <li><a href="http://www.total.tn/CarteCarburantTotal/devenir-client.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Devenir client
                            </a></li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: #0B59A0"> Carburants </h3>
                    <ul>
                        <li><a href="http://www.total.tn/nos-carburants/petrol-premier-effimax.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Total Effimax super sans plomb
                            </a></li>
                        <li><a href="http://www.total.tn/nos-carburants/TOTAL-Diesel-Premier-Effimax.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Total Effimax gazole</a></li>
                        <li><a href="http://www.total.tn/nos-carburants/GPL-carburants.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                GPL carburant
                            </a></li>
                        <li><a href="#"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Carburants aviation
                            </a></li>
                        <li><a href="http://www.total.tn/nos-carburants/benefices-excellium.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Les bénéfices des carburants Effimax
                            </a></li>
                        <li><a href="http://www.total.tn/nos-carburants/qualite-carburants.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                La qualité des carburants TOTAL
                            </a></li>

                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: #0B59A0"> Lubrifiants </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="http://www.total.tn/Lubrifiants/marques-partenariats-competition.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Marque, Partenaires et Compétition
                            </a></li>

                        <li><a href="http://www.total.tn/EntretienAuto/ServicesEntretienAuto.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i>Nos Services
                            </a></li>
                        <li><a href="http://www.total.tn/Lubrifiants/Nos-lubrifiants.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Nos Lubrifiants
                            </a></li>
                        <li><a href="http://www.total.tn/EntretienAuto/ContactEntretienAuto.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Ou trouver nos Lubrifiants </a></li>
                        <li><a href="http://www.total.tn/EntretienAuto/ServicesEntretienAuto.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> En savoir plus sur Total Lubrifiants </a></li>


                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: #0B59A0"> STATION SERVICE </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="http://www.total.tn/stations-services/trouver_stations.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Trouver une station
                            </a></li>

                        <li><a href="http://www.total.tn/stations-services/nos-engagements.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Nos engagements
                            </a></li>
                        <li><a href="http://www.total.tn/stations-services/NouvelleIdeltiteVisuelle.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Nouvelle identité visuelle
                            </a></li>
                        <li><a href="http://www.total.tn/stations-services/restauration-boutique.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Restauration et boutique </a></li>
                        <li><a href="http://www.total.tn/stations-services/votre-voiture.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Prendre soin de votre voiture </a></li>


                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: #0B59A0">ECO SERVICES</h3>
                    <ul>
                        <li><a href="http://www.total.tn/EcoService/Produits.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Eco Produits
                            </a></li>
                        <li><a href="http://www.total.tn/EcoService/ecogestes.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Eco gestes</a></li>
                        <li><a href="http://www.total.tn/EcoService/EcoConduite.html"><i class="glyphicon glyphicon-play" style="color: #0B59A0"></i>
                                Eco conduite</a></li>
                    </ul>

                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: #0B59A0"> PRODUITS D'ENTRETIEN </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="http://www.total.tn/EntretienAuto/maintenance.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Maintenance
                            </a></li>

                        <li><a href="http://www.total.tn/EntretienAuto/performance.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Performance
                            </a></li>
                        <li><a href="http://www.total.tn/EntretienAuto/Protection&Confort.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Protection et confort
                            </a></li>
                        <li><a href="http://www.total.tn/EntretienAuto/ServicesEntretienAuto.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Nos Services d'entretien auto </a></li>
                        <li><a href="http://www.total.tn/gaz/bouteilles-gaz-b2c.html"><i  class="glyphicon glyphicon-play" style="color: #0B59A0"></i> Bouteilles de gaz </a></li>

                    </ul>
                </div>


                <div style="clear:both" class="hide visible-xs"></div>

            </div>

        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom" style="background: #f0e8de;">
        <div class="container">
            <ul style="list-style: none">
            <li><p class="pull-right" > Powered by <span style="color: #f0e8de"><b>APP4MOB</b></span> </p></li>
            </ul>

        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
