{% extends 'FrontendBundle::base.html.twig' %}

{% block body %}
    <div class="container main-container headerOffset">

        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row userInfo">
                    {% block content %}{% endblock content %}
                </div>
                <!--/row end-->
            </div>
        </div>
        <!--/.innerPage-->
        <div style="clear:both"></div>
    </div>
    <!-- /.main-container -->
{% endblock body %}