{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-3-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color: #F5F5F5;">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-tint fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text"><h2>{{ nbprod }}</h2></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="announcement-heading"><b>Produits disponibles</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading"  style="background-color: #F5F5F5;">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text"><h2>{{ nbcmd }}</h2></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="announcement-heading"><b>Commandes du jour</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-3-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading"  style="background-color: #F5F5F5;">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-truck fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text"><h2>{{ include('@Backend/gestionnaire/compteur/grossiste.html.twig', {user: nbuser }) }}</h2></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="announcement-heading"><b>Grossistes</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading"  style="background-color: #F5F5F5;">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-user-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text"><h2>{{ nbuser|length }}</h2></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-left"><b> Clients</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}