{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <p class="text-danger" style="margin-top: -10px;">{{ error.message }}</p>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}