{% extends 'BackendBundle:Admin:base.html.twig' %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('admin_post_index') }}">
            <i class="fa fa-list-alt"></i> Produit
        </a>
    </li>
    <li>
        <a href="{{ path('admin_index') }}">
            <i class="fa fa-home"></i> Acceuil
        </a>
    </li>
{% endblock %}