{% if view == 'list' %}
    {% if value|length > 0 %}
        {% set somme = 0 %}
        {% for totale in value.produit %}

            {% set somme = somme + (totale.quantite * totale.prixHT) %}
        {% endfor %}
        {{ somme|number_format(3) }}
    {% endif %}
{% else %}
    {{ value|join(', ')|easyadmin_truncate }}
{% endif %}
