{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% block content %}
<center><p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p></center>
{% endblock content %}
