<div class="container">
    <div class='well well-sm col-md-6 col-md-offset-3'>
        <center><H1><b>Mot de Passe Perdu</b></H1></center>
        <form role="form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <div class="form-group">
                <label for="exampleInputEmail1">Adresse Email</label>
                <input type="email" id="username" name="username" required="required" class="form-control" placeholder="Entre votre adresse Email">
            </div>
            <p>Renseignez votre adresse mail utilisé pour un lien de reinistialisation du mot de passe.</p>
            <center><input type="submit" class="btn btn-default btn-danger btn-lg" style="background-color: #0B59A0;" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"></center>
        </form>

    </div>
    </div>