<div class="container">
    <div class='well well-sm col-md-6 col-md-offset-3'>
        <center><H1><b>Entrer un nouveau mot de passe</b></H1></center>

        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">

            <div class="form-group">
            <label>{{ form_label(form.new.first) }}</label>
            {{ form_widget(form.new.first,{"attr" : {"class":"form-control","placeholder":"Nouveau mot de passe"} }) }}
                {{ form_errors(form.new.first) }}
            </div>
            <div class="form-group">
            <label>{{ form_label(form.new.second) }}</label>
                {{ form_widget(form.new.second,{"attr" : {"class":"form-control","placeholder":"Confirmer mot de passe"} }) }}
                {{ form_errors(form.new.second) }}
            </div>
            {{ form_widget(form._token) }}
    <div>

        <center><button class="btn btn-primary" style="background-color: #0B59A0;" type="submit">Modifier Mot de passe </button></center>
    </div>
</form>
    </div>
</div>