


<div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
    <div class="product">

        <div class="image">
            <a href="{{ path('show_produit',{"id":produit.id}) }}"><img  id="img{{ produit.id }}" src="{{ produit.PathImage }}"  data-original="{{ produit.PathImage }}" alt="{{ produit.nom }}"
              class="img-responsive lazy"></a></div><br>
        <div class="description" style="min-height: 44px;">
            <a href="{{ path('show_produit',{"id":produit.id}) }}"><span style="color:#545454; font-size: 16px;font-family: 'Open Sans', sans-serif">{{ produit.uniteDemballage }} {{ produit.nom }} {{ produit.unite }}</span></a>
        </div>
        <div class="list-description"><p>{{ produit.description }}</p></div>
        <div class="price"><span style="color:#0B59A0; font-size: 22px;font-family: 'Open Sans', sans-serif;"><b>{{ produit.prix|number_format(3, '.', ',') }} TND</b></span></div>
        <div class="action-control">
            <button type="button"
                    style="background: none;border: none;"
                    id="addArticle{{ produit.id }}"
                    onclick="addArticle({{ produit.id }},{{ produit.prix }})"
                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> Chargement">
                <span class="add2cart" style="color:#0B59A0;">Ajouter au panier <i class="glyphicon glyphicon-shopping-cart"> </i></span>
            </button>
        </div>
        <div class="action-control">
            <a class="btn"
               href="{{ path('show_produit',{"id":produit.id}) }}" style="background: darkgrey;color: white;">Détails
            </a>
        </div>
    </div>
</div>

