{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/pickmeup.css') }}" rel="stylesheet">

{% endblock stylesheets %}
{% block breadcrump %}
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Acceuil</a></li>
                <li><a href="{{ path("panier") }}">Panier</a></li>
                <li class="active"> Adresse</li>
            </ul>
        </div>
    </div>
{% endblock breadcrump %}
{% block content %}

    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i class="fa fa-map-marker "></i> Adresse</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Retour à l'acceuil </a></h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="w100 clearfix">
                        <ul class="orderStep orderStepLook2">
                            <li><a href="{{ path("panier") }}"> <i class="glyphicon glyphicon-shopping-cart"></i> <span> Panier</span>
                                </a></li>
                            <li class="active"><a href="#"> <i class="fa fa-map-marker "></i>
                                    <span> Adresse </span></a></li>
                            <li><a href="#"><i class="fa fa-check-square "> </i><span>Confirmer</span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>


                    <style>
                        .radio-adresse label{
                            margin-bottom: 20px;
                            font-weight: 300;
                        }
                        .radio-adresse .fa{
                            vertical-align: top;
                            margin-top: 4px;
                        }
                        .delegation_select .delegation{
                            width: 90% !important;
                            display: inline;
                        }
                    </style>


                    <div class="w100 clearfix"  style="margin-bottom: 20px">
                        <div class="row userInfo">
                            <div class="col-lg-6">
                                <h2 class="block-title-2"> Choisir une adresse de livraison </h2>
                                {% if utilisateur.adresses|length != 0 %}
                                    <form action="{{ path('validationAdresse') }}" method="POST" class="form-address">

                                        <h4><i class="fa fa-truck "> </i> Adresse de livraison</h4>
                                        {% for adresse in utilisateur.adresses %}
                                            <div class="radio-adresse">
                                                <label class="col-mg-10">
                                                    <input type="radio" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                                    {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }}
                                                    <br />{{ adresse.prenom }} {{ adresse.nom }}
                                                </label>
                                                <a class="col-mg-2" href="{{ path('deleteAdresse', { 'id' : adresse.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a><br>
                                            </div>
                                        {% endfor %}

                                        <br /><br />

                                        <h4><i class="fa fa fa-envelope  "> </i> Adresse de facturation</h4>
                                        {% for adresse in utilisateur.adresses %}
                                            <div class="radio-adresse">
                                                <label class="col-mg-10">
                                                    <input type="radio" name="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                                    {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }}
                                                    <br />{{ adresse.prenom }} {{ adresse.nom }}
                                                </label>
                                                <a class="col-mg-2" href="{{ path('deleteAdresse', { 'id' : adresse.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a><br>
                                            </div>

                                        {% endfor %}

                                        <br />

                                    </form>
                                {% endif %}
                            </div>
                            <div class="col-lg-6">
                                <h2 class="block-title-2"> Ajouter une nouvelle adresse. </h2>


                                <form action="" method="POST">

                                    <div class="form-group">
                                        <label>Nom</label>
                                        {{ form_widget(form.nom,{"attr" : {"class":"form-control","placeholder":"Nom"} } ) }}
                                        {{ form_errors(form.nom) }}
                                    </div>

                                    <div class="form-group">
                                        <label>Prenom</label>
                                        {{ form_widget(form.prenom,{"attr" : {"class":"form-control","placeholder":"Prénom"} } ) }}
                                        {{ form_errors(form.prenom) }}
                                    </div>

                                    <div class="form-group">
                                        <label>Téléphone</label>
                                        {{ form_widget(form.telephone,{"attr" : {"class":"form-control","placeholder":"Exp: +216 90909090"} } ) }}
                                        {{ form_errors(form.telephone) }}
                                    </div>

                                    <div class="form-group">
                                        <label>Adresse</label>
                                        {{ form_widget(form.adresse,{"attr" : {"class":"form-control","placeholder":"Adresse"} } ) }}
                                        {{ form_errors(form.adresse) }}
                                    </div>


                                    <div class="form-group">
                                        <label>Code Postal</label>
                                        {{ form_widget(form.cp,{"attr" : {"class":"form-control code","placeholder":"Code Postal"} } ) }}
                                        {{ form_errors(form.cp) }}
                                    </div>


                                    <div class="form-group delegation_select" >
                                        <label>Delegation</label>
                                        {{ form_widget(form.ville,{"attr" : {"class":"form-control delegation","placeholder":"Ville"} } ) }}
                                        {{ form_errors(form.ville) }}
                                    </div>


                                    {{ form_widget(form) }}
                                    <button class="btn btn-primary" id="btn-add-adress" type="submit">Ajouter</button>
                                </form>


                            </div>

                        </div>
                        <!--/row end-->
                        <h1 class="section-title-inner" style="margin-top:30px;border-bottom: 1px solid #CECECE;"><span><i
                                        class="glyphicon glyphicon-calendar"></i> Choisir une date de livraison </span></h1>

                        <div class="row" style="margin-top: 25px">
                            <div class="col-md-8    ">

                                <h3> Date de livraison: </h3>
                                <div class="single"></div>
                            </div>

                            <style>
                                .iCheck-margin {
                                    margin-bottom: 15px;
                                }
                            </style>
                            <div class="col-md-4">
                                <h3> Heur de livraison: </h3>
                                <input type="radio" name="periode" id="periode-1" value="1" checked="checked"><label
                                        style="margin-bottom: 15px;" for="periode-1" class="radio-inline">Matin 8h - 12h</label><br>
                                <input type="radio" name="periode" id="periode-2" value="2"><label style="margin-bottom: 15px;"
                                                                                                   for="periode-2" class="radio-inline">Aprés
                                    midi 13h - 17h</label><br>
                                <input type="radio" name="periode" id="periode-3" value="3"><label style="margin-bottom: 15px;"
                                                                                                   for="periode-3" class="radio-inline">Soir
                                    17h - 21h</label><br>
                            </div>
                        </div>

                    </div>
                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default" href="#"> <i
                                        class="fa fa-arrow-left"></i> &nbsp; Retour à l'aceuil </a></div>
                            <div class="pull-right"><a class="btn {% if utilisateur.adresses|length > 0 and panier|length >0 %}btn-primary{% else %}btn-danger{% endif %} btn-small " {%  if utilisateur.adresses|length > 0 and panier|length >0 %}
                                                       onclick="goToAdresse()
{% endif %}">
                                    {%  if utilisateur.adresses|length > 0 and panier|length >0 %}Valider mes adresses <i class="fa fa-arrow-circle-right"></i>{% else %}Pas d'adresses <i class="fa fa-exclamation-circle"></i>{% endif %} &nbsp;  </a></div>
                        </div>
                    </div>
                    <!--/ cartFooter -->

                </div>
            </div>
            <!--/row end-->

        </div>
        
    </div>
    <!--/row-->

    <div style="clear:both"></div>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/pickmeup.js') }}"></script>
    <script>
        selected_date = new Date();
		selected_date.setDate(selected_date.getDate() + 1)
        console.log(selected_date);
        {% if date.periode is defined %}
        $('input:radio[name="periode"][value="{{ date.periode }}"]').attr('checked', true);
        {% endif %}

        {% if date.date  is defined %}
        selected_date = "{{ date.date }}";
        {% endif %}

        addEventListener('DOMContentLoaded', function () {

            pickmeup('.single', {
                flat: true,
                format: 'Y-m-d'
            }).set_date(selected_date);


        });

        function goToAdresse() {
            date = pickmeup('.single').get_date("Y-m-d");
            periode = $('input:radio[name=periode]:checked').val();
            livraison = $('input:radio[name=livraison]:checked').val();
            facturation = $('input:radio[name=facturation]:checked').val();
            if(new Date(pickmeup('.single').get_date("Y-m-d"))<new Date()){
                $(".btn-small").attr("data-toggle","tooltip");
                $(".btn-small").attr("title","Date livraison doit étre superieur \n au date d'aujourd'hui");
                $(".btn-small").tooltip("show");
            }else{
                $(".btn-small").tooltip("destroy");
                window.location.href = '{{ "validationAdresse" }}?date=' + date + '&periode=' + periode+ '&livraison=' + livraison+ '&facturation=' + facturation;
            }

        }
        $("#btn-add-adress").click(function(event){
            console.log("tteell");
            var reg = new RegExp(/^\+216 [0-9]*$/);
        if (!reg.test($("#webbundle_utilisateursadresses_telephone").val())) {
            event.preventDefault();
            $("#webbundle_utilisateursadresses_telephone").attr("data-toggle","tooltip");
            $("#webbundle_utilisateursadresses_telephone").attr("data-placement","bottom");
            $("#webbundle_utilisateursadresses_telephone").attr("title","Vérifier format du télephone \n Exp: +216 90909090");
            $("#webbundle_utilisateursadresses_telephone").tooltip("show");
        }else{
            $("#webbundle_utilisateursadresses_telephone").tooltip("destroy");
        }
        });
    </script>
{% endblock %}
