{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


{% block breadcrump %}
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Acceuil</a></li>
                <li><a href="{{ path("panier") }}">Panier</a></li>
                <li><a href="{{ path("livraison") }}">Adresse</a></li>
                <li class="active"> Confirmer</li>
            </ul>
        </div>
    </div>
{% endblock breadcrump %}
{% block content %}

    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i class="fa fa-check-square "></i> Confirmer</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Retour a l'acceuil </a></h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">

                <div class="col-xs-12 col-sm-12">

                    <div class="w100 clearfix">


                        <ul class="orderStep orderStepLook3">
                            <li><a href="{{ path("panier") }}"> <i class="glyphicon glyphicon-shopping-cart"></i>
                                    <span> Panier</span>
                                </a></li>
                            <li><a href="{{ path("livraison") }}"> <i class="fa fa-map-marker "></i>
                                    <span> Adresse </span></a></li>
                            <li class="active"><a href="#"><i
                                        class="fa fa-check-square "> </i><span>Confirmer</span></a>
                            </li>
                        </ul>
                        <!--orderStep-->
                    </div>


                    <div class="w100 clearfix">


                        <div class="row userInfo">

                            <div class="col-lg-12">
                                <h2 class="block-title-2"> Valider mon panier </h2>
                            </div>


                            <div class="col-xs-12 col-sm-12">
                                <div class="cartContent w100 checkoutReview ">
                                    <table class="cartTable table-responsive" style="width:100%">
                                        <tbody>
                                            <tr class="CartProduct cartTableHeader">
                                                <th style="width:15%"> Produit</th>
                                                <th class="checkoutReviewTdDetails">Détails</th>
                                                <th style="width:10%">Prix unitaire</th>
                                                <th class="hidden-xs" style="width:5%">TND</th>
                                                <th style="width:15%">Total</th>
                                            </tr>
                                            {% for produit in commande.commande.produit %}
                                                <tr class="CartProduct">
                                                    <td class="CartProductThumb">
                                                        <div><a href="#"><img class="lazy"
                                                                                                 src="/assets/img/default.jpeg"
                                                                                                 data-original="{{ produit.image }}"
                                                                                                 alt="{{ produit.reference }}"></a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="CartDescription">
                                                            <h4>
                                                                <a href="#">{{ produit.reference }}</a>
                                                            </h4>
                                                            <span class="size">{{ produit.unite }}</span>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{ produit.prixHT|number_format(3, '.', ',') }} DT
                                                    </td>
                                                    <td class="hidden-xs">{{ produit.quantite }}</td>
                                                    <td class="price">{{ (produit.prixHT * produit.quantite)|number_format(3, '.', ',') }} DT TTC</td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                    <td> <h4><b>Total commande</b></h4></td><td></td><td></td><td></td><td class="price" style="float: right;"><center><span id="total-price">{{ commande.commande.prixHT|number_format(3, '.', ',')
                                                            }}</span> DT
                                                            TTC</center></td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--cartContent-->

                                <div class="w100 costDetails">
                                    <div class="table-block" id="order-detail-content">
                                        <table class="std table" id="cart-summary">
                                            <tr>

                                            </tr>

                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/costDetails-->


                                <!--/row-->


                                <div class="row" style="margin: 25px 0px">
                                    <div class="col-md-6">

                                        <h3> Adresse de livraison: </h3>
                                        <dt>{{ commande.commande.livraison.prenom }} {{ commande.commande.livraison.nom }}</dt>
                                        <dt>{{ commande.commande.livraison.adresse }}</dt>
                                        <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }}
                                            - {{ commande.commande.livraison.pays }}</dt>

                                    </div>

                                    <div class="col-md-6">
                                        <h3> Adresse de facturation: </h3>
                                        <dt>{{ commande.commande.facturation.prenom }} {{ commande.commande.facturation.nom }}</dt>
                                        <dt>{{ commande.commande.facturation.adresse }}</dt>
                                        <dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville }}
                                            - {{ commande.commande.facturation.pays }}</dt>
                                    </div>
                                </div>


                            </div>


                        </div>


                    </div>
                    <!--/row end-->


                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default" href="#">
                                    <i class="fa fa-arrow-left"></i> &nbsp; Adresse </a>
                            </div>


                            <div class="pull-right">
                                <a href="{{ path('validation_commande', { 'id' : commande.id }) }}" class="btn btn-primary btn-small ">
                                    Confirmer &nbsp; <i class="fa fa-check"></i>
                                </a>
                            </div>


                        </div>
                    </div>
                    <!--/ cartFooter -->
                </div>


            </div>
        </div>
        <!--/row end-->


        <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">

            <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                    <tbody>
                        <tr>
                            <td><h4> Total commande</h4></td>
                        </tr>
                        <tr>
                            <td class=" site-color" ><span id="total-price">{{ commande.commande.prixHT|number_format(3, '.', ',') }}</span> <span class=" site-color"> DT TTC</span></td>
                        </tr>


                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->

    <div style="clear:both"></div>
{% endblock %}
