sexe : {{ sexe }}<br>
nom : {{ nom }}<br>
prenom : {{ prenom }}<br>
adresse : {{ adresse }}<br>
ville : {{ ville }}<br>
zone : {{ zone }}<br>
email : {{ email }}<br>
telephone : {{ tel }}<br>
objet:<br>
{% for o in objet %}
-{{ o }}<br>
{%endfor%}<br>
sujet : {{ sujet }}<br>
msg : {{ msg }}<br>