{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path("list_produit") }}">Produits</a></li>
                    <li class="active"> {{ produit.nom }}</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}


        <div class="row transitionfx">

            <!-- left column -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- product Image and Zoom -->


                <div class="col-lg-12">

                    <center><img src="{{ asset('uploads/produits/'~ produit.image) }}" class="img-responsive" alt="img"></center>
                </div>
            </div>
            <!--/ left column end -->


            <!-- right column -->
            <div class="col-lg-6 col-md-6 col-sm-5">

                <h2 class="product-title"> {{ produit.nom }} - {{ produit.unite }}</h2>

                <h3 class="product-code">{{ produit.uniteDemballage }}</h3>

                <div class="details-description">
                    <p>{{ produit.categorie.nom }} </p>
                </div>
                <div class="product-price">
                    <span class="price-sold">{{ produit.prix|number_format(3, '.', ',') }} DT TTC</span>
                </div>


                <div class="productFilter productFilterLook2">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="filterBox">
                                <input type="number" palceholder="Quantité" value="1" id="qte" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- productFilter -->

                <div class="cart-actions">
                    <div class="addto row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="action-control"><button type="button"   class="btn btn-primary"  id="addArticle{{ produit.id }}" onclick="addArticleQuantite({{ produit.id }},{{ produit.prix }},$('#qte').val());" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Chargement"> <span class="add2cart"><i
                                                class="glyphicon glyphicon-shopping-cart"> </i> Ajouter au panier </span> </button>
                            </div>
                        </div>

                    </div>

                    <div style="clear:both"></div>




                </div>
                <!--/.cart-actions-->

                <div class="clear"></div>

                <div class="product-tab w100 clearfix">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                        <!-- <li><a href="#shipping" data-toggle="tab">Shipping</a></li>-->
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="details">
                            {{ produit.description }}
                        </div>


                        <!--<div class="tab-pane" id="shipping">

                        </div>-->

                    </div>
                    <!-- /.tab content -->

                </div>
                <a href="{{ asset(img_path ~ "/fiche_technique/" ~ produit.lib) }}" download="fiche_technique_{{ produit.nom }}"><strong><u>Télécharger fiche technique</u></strong></a>
                <!--/.product-tab-->

                <div style="clear:both"></div>


            </div>
            <!--/ right column end -->

        </div>
        <!--/.row-->

        <div class="container main-container">

            <!-- Main component call to action -->

            <div class="row featuredPostContainer globalPadding style2">
                <h3 class="section-title style2 text-center"><span>Produits Similaires</span></h3>

                <div id="productslider" class="owl-carousel owl-theme">
                    {% for produit in produits_similaire %}
                            <div class="product">
                                <div class="image">
                                    <a href="{{ path('show_produit',{"id":produit.id}) }}">
                                        {% if produit.image is null or produit.image is empty %}
                                            <img src="{{ asset('images/product/default.png') }}" alt="img" class="img-responsive">
                                        {% else %}
                                            <img src="{{ img_path ~ '/' ~ produit.image }} " alt="img" class="img-responsive">
                                        {% endif %}
                                    </a>
                                </div>
                                <br>
                                <div class="description" style="min-height: 44px;">
                                    <a href="{{ path('show_produit',{"id":produit.id}) }}"><span style="color:#545454; font-size: 16px;font-family: 'Open Sans', sans-serif">{{ produit.uniteDemballage }} {{ produit.nom }} {{ produit.unite }}</span></a>
                                </div>
                                <div class="price"><span style="color:#0B59A0; font-size: 22px;font-family: 'Open Sans', sans-serif;"><b>{{ produit.prix|number_format(3, '.', ',') }} TND</b></span></div>
                                <div class="action-control">
                                    <button type="button"
                                            style="background: none;border: none;"
                                            id="addArticle{{ produit.id }}"
                                            onclick="addArticle({{ produit.id }},{{ produit.prix }})"
                                            data-loading-text="<i class='fa fa-spinner fa-spin '></i> Chargement">
                                        <span class="add2cart" style="color:#0B59A0;">Ajouter au panier <i class="glyphicon glyphicon-shopping-cart"> </i></span>
                                    </button>
                                </div>
                                <div class="action-control">
                                    <a class="btn"
                                       href="{{ path('show_produit',{"id":produit.id}) }}" style="background: darkgrey;color: white;">Détails
                                    </a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <!--/.productslider-->
            </div>
            <!--/.featuredPostContainer-->
        </div>
        <!-- /main container -->



    {% endblock %}
