{% extends 'FrontendBundle::base.html.twig' %}

{% block body %}
    <input type="text" value="{{ cp }}" id="cp" style="display: none;">
    <div class="banner banner-boxes">
        <div class="slider-content"><span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span>
            <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

            <div class="swiper-container swiper-container-h">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-2x">
                        <div class="box-slider-content">
                            <div class="box-text">
                                <h1>UNE GAMME DE HAUTE PERFORMANCE</h1>

                                <a class="btn btn-stroke-light" href="{{ path('list_produit') }}"> ACHETEZ</a></div>
                            <div class="box-content-overly">
                                <!-- Delete this div if you dont want overly effect -->
                            </div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/1.jpg" alt="img"></a></div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="slider-box-top">
                            <div class="box-slider-content">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <br><br>
                                        <h1 class="bolder-style light"><a href="#" style="vertical-align:middle">HUILE MOTEURS</a></h1>
                                    </div>
                                </div>
                                <div class="box-content-overly">
                                    <!-- Delete this div if you dont want overly effect -->
                                </div>
                                <a href="#" class="box-img"> <img src="/images/slider/box/2a.jpg" alt="img"></a></div>
                        </div>
                        <div class="slider-box-bottom">
                            <div class="box-slider-content">


                                <a href="#" class="box-img"> <img src="/images/slider/box/2b.jpg" alt="img"> </a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url">
                                        <!-- keep this blank. This link will provide a hyperlink over the box-content-overly div -->
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="box-slider-content">
                            <div class="box-text-table">
                                <div class="box-text-cell">
                                    <h1 class="bolder-style light"><a href="#" style="font-size: xx-large;"><p>LA FORMULE N°1</p><p>POUR VOTRE MOTEUR</p></a></h1>
                                </div>
                            </div>
                            <div class="box-content-overly">
                                <!-- Delete this div if you dont want overly effect -->
                            </div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/3.jpg" alt="img"></a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-4x">
                        <div class="box-4in a">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4a.jpg"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                        <div class="box-4in b">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4b.jpg"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                        <div class="box-4in c">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4c.jpg"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                        <div class="box-4in d">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4d.jpg"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="box-slider-content">

                            <a href="#" class="box-img"> <img src="/images/slider/box/6.jpg" alt="img"></a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="slider-box-top">
                            <div class="box-slider-content">
                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                                <a href="#" class="box-img"> <img src="/images/slider/box/7b.jpg" alt="img"></a></div>
                        </div>
                        <div class="slider-box-bottom">
                            <div class="box-4in c">
                                <div class="box-slider-content"><a href="#" class="box-img"> <img
                                                src="/images/slider/box/7b1.jpg" alt="img"></a>

                                    <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                                </div>
                            </div>
                            <div class="box-4in d">
                                <div class="box-slider-content"><a href="#" class="box-img"> <img
                                                src="/images/slider/box/7b2.jpg" alt="img"></a>

                                    <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-pagination swiper-pagination"></div>
            </div>

            <!--/.full-container-->
        </div>
    </div>
    <!--/.banner style1-->

    <div class="container main-container">

        <!-- Main component call to action -->

        <div class="row featuredPostContainer globalPadding style2">
            <h3 class="section-title style2 text-center"><span>TOP ARTICLES</span></h3>

            <div id="productslider" class="owl-carousel owl-theme">
                {% for produit in produits %}

                        <div class="product">
                            <div class="image">
                                <a href="{{ path('show_produit',{"id":produit.id}) }}">
                                    {% if produit.image is null or produit.image is empty %}
                                        <img src="{{ asset('images/product/default.png') }}" alt="img" class="img-responsive">
                                    {% else %}
                                        <img src="{{ img_path ~ '/' ~ produit.image }} " alt="img" class="img-responsive">
                                    {% endif %}
                                </a>
                            </div>
                            <br>
                            <div class="description" style="min-height: 44px;">
                                <a href="{{ path('show_produit',{"id":produit.id}) }}"><span style="color:#545454; font-size: 16px;font-family: 'Open Sans', sans-serif">{{ produit.uniteDemballage }} {{ produit.nom }} {{ produit.unite }}</span></a>
                            </div>
                            <div class="price"><span style="color:#0B59A0; font-size: 22px;font-family: 'Open Sans', sans-serif;"><b>{{ produit.prix|number_format(3, '.', ',') }} TND</b></span></div>
                            <div class="action-control">
                                <button type="button"
                                        style="background: none;border: none;"
                                        id="addArticle{{ produit.id }}" 
                                        onclick="addArticle({{ produit.id }},{{ produit.prix }})" 
                                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> Chargement"> 
                                            <span class="add2cart" style="color:#0B59A0;">Ajouter au panier <i class="glyphicon glyphicon-shopping-cart"> </i></span>
                                </button>
                            </div>
                            <div class="action-control">
                            <a class="btn"
                               href="{{ path('show_produit',{"id":produit.id}) }}" style="background: darkgrey;color: white;">Détails
                            </a>
                            </div>
                        </div>

                {% endfor %}
            </div>
            <!--/.productslider-->

        </div>
        <!--/.featuredPostContainer-->
    </div>
    <!-- /main container -->






    <div class="container">

        <hr class="no-margin-top">
        <div class="width100 section-block ">
            <div class="row featureImg">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#"><img src="/images/pub/4.jpg" class="img-responsive" alt="img"></a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#"><img src="/images/pub/3.jpg" class="img-responsive" alt="img"></a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#"><img src="/images/pub/2.jpg" class="img-responsive" alt="img"></a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#"><img src="/images/pub/1.jpg" class="img-responsive" alt="img"></a>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.section-block-->

        <div class="width100 section-block">
            <h3 class="section-title"><span> PARTENAIRES</span> <a id="nextBrand" class="link pull-right carousel-nav"> <i
                        class="fa fa-angle-right"></i></a> <a id="prevBrand" class="link pull-right carousel-nav"> <i
                        class="fa fa-angle-left"></i> </a></h3>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="no-margin brand-carousel owl-carousel owl-theme">
                        <li><img src="/images/partenaire/citroen.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/elf.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/great_wall.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/kia.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/mazda.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/nissan.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/peugeot.jpg" alt="img"></li>
                        <li><img src="/images/partenaire/renault.jpg" alt="img"></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.section-block-->

    </div>
    <!--main-container-->

    <div class="parallax-section parallax-image-2">
        <div class="w100 parallax-section-overley">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="parallax-content clearfix">

                            <h2 class="uppercase">LIVRAISON SUR TOUTE LA TUNISIE</h2>

                            {#                        <h3> Energistically develop parallel mindshare rather than premier deliverables. </h3>#}

                            <div style="clear:both"></div>
                            <a class="btn btn-discover " href="{{ path('list_produit') }}"> <i class="fa fa-shopping-cart"></i> Achetez Maintenant </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.parallax-section-->
{% endblock body %}

