{% extends 'FrontendBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/category-2.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block body %}
    <section class="category-wrapper">
        {% include '@Frontend/Blocks/parallaxintro.html.twig' %}

        <section class="main-container-wrapper clearfix" id="main-container-wrapper">
            <div class="container main-container">

                <!-- Main component call to action -->

                <div class="row">

                    {% include '@Frontend/Blocks/filterbar.html.twig' %}

                    <div class="catColumnWrapper">
                        {# left column #}
                        <div class="col-lg-3 col-md-3 col-sm-12 filterColumn">
                            <div class="panel-group" id="accordion">
                                <!--Category-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapseCategory" class="">
                                                <span class="pull-right hasMinus"> <i class="i-minus"></i></span> Category </a>
                                        </h4>
                                    </div>
                                    <div id="collapseCategory" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="nav nav-list">
                                                <li><a> Watches </a></li>
                                                <li><a href="#"> Accessories </a></li>
                                                <li><a href="#"> Clothing </a></li>
                                                <li><a href="#"> Jackets </a></li>
                                                <li><a href="#"> Sweaters </a></li>
                                                <li><a href="#"> Shirts </a></li>
                                                <li><a href="#"> Offers Zone </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/Category menu end-->

                                <!--Price-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="" data-toggle="collapse" href="#collapsePrice">
                                                Price <span class="pull-right hasMinus"> <i class="i-minus"></i></span> </a>
                                        </h4>
                                    </div>
                                    <div id="collapsePrice" class="panel-collapse collapse in">
                                        <div class="panel-body priceFilterBody ">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <!-- -->
                                                    <label>
                                                        <input type="radio" name="agree" value="0"/>
                                                        100$ - 500$</label>
                                                </li>

                                                <li><label>
                                                        <input type="radio" name="agree" value="1"/>
                                                        500$ - 1000$</label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="2"/>
                                                        1000$ - 1500$</label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="3"/>
                                                        1500$ - 2000$</label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="4"/>
                                                        2000$ - 2500$</label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="5"/>
                                                        2500$ - 3000$</label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="6" disabled checked/>
                                                        Don't know</label></li>
                                            </ul>
                                            <hr>
                                            <p>Enter a Price range </p>

                                            <form class="form-inline " role="form">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="exampleInputEmail2"
                                                           placeholder="2000 $">
                                                </div>
                                                <div class="form-group sp"> -</div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword2"
                                                           placeholder="3000 $">
                                                </div>
                                                <button type="submit" class="btn btn-default pull-right">check</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--/price panel end-->
                            </div>
                        </div>
                        {# right column #}
                        <div class="col-lg-9 col-md-9 col-sm-12 categoryColumn">
                            <div class="row  categoryProduct xsResponse clearfix">
                                {% for i in 0..10 %}
                                    {% include '@Frontend/Partial/produit.html.twig' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row  -->
            </div>
            <!-- /main container -->
        </section>
    </section>
{% endblock body %}