{% extends 'BackendBundle:Admin:layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block main %}
    <h1>Edition du produit {{ post.id }}</h1>

    {{ include('BackendBundle:Admin:produit/_form.html.twig', {
        form: edit_form,
        button_label: 'Valider',
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}

    
    {{ parent() }}


{% endblock %}
