{% extends 'BackendBundle:Admin:layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Liste des produits</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th><i class="fa fa-cogs"></i> Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.nom }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('admin_post_show', { id: post.id }) }}" class="btn btn-sm btn-default">
                            Voir
                        </a>

                        <a href="{{ path('admin_post_edit', { id: post.id }) }}" class="btn btn-sm btn-primary">
                            Edit
                        </a>
                        
                        <a href="{{ path('admin_post_delete', { id: post.id }) }}" class="btn btn-sm btn-primary">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'post.no_posts_found' }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
            {{ knp_pagination_render(posts) }}
     </div>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> Nouveau
        </a>
    </div>

    {{ parent() }}

{% endblock %}
