{% extends 'BackendBundle:Admin:layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}
    <h1>{{ 'title.post_new' }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.description) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.unite) }}
        {{ form_row(form.image) }}
        {{ form_row(form.disponible) }}
        {{ form_row(form.is_active) }}
        {{ form_row(form.categorie) }}

        <input type="submit" value="Ajouter" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'Valider', attr: { class: 'btn btn-primary' } }) }}

        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            Retour a la liste
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
