{% extends 'BackendBundle:Admin:layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ post.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ post.nom}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td><p>{{ post.prix }}</p></td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td><p>{{ post.categorie.nom }}</p></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', { id: post.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> Editer
        </a>
    </div>

            
{% endblock %}
