
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/vetrine_assets/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/vetrine_assets/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/vetrine_assets/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vetrine_assets/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/vetrine_assets/css/style.css">

    <!-- Modernizr JS -->
    <script src="/vetrine_assets/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/vetrine_assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="header-inner">
                <h1><i class="sl-icon-energy"></i><a href="{{ path("howto_create_shop") }}">E-Shop</a></h1>

            </div>
        </div>
    </header>
    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 " style="padding-top: 60px;">
                    <h2>Créez votre
                        <br>site E-commence GRATUITEMENT
                        <br>grâce à E-Shop
                    </h2>

                    <p>Créez votre boutique en quelques clics pour une nouvelle expérience e-commerce guidée, personnalisable et performante.</p>
                    <p>
                        <a  href="#comment_ca_marche" class="btn btn-primary btn-outline with-arrow">Comment ça marche?<i class="icon-arrow-right"></i></a>
                        <a href="{{ path("create_shop") }}" class="btn btn-primary  with-arrow">Créer ma boutique<i class="icon-arrow-right"></i></a>

                    </p>


                </div>
                <div class="col-md-7">
                    <a href="#" class="featured-grid" style="background-image: url(/vetrine_assets/images/web.svg);">

                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-services-section">
        <section  id="comment_ca_marche">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                        <h2>Comment ça marche?</h2>
                        <p>E-shop est une solution complète, innovante et efficace vous permettant de créer votre boutique en ligne et de développer votre business.. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 services-inner text-center">
                        <span><i class="sl-icon-pin"></i></span>
                        <h3>Customisez votre boutique</h3>
                        <p>Choisissez vos couleurs, votre logo </p>
                    </div>
                    <div class="col-md-4 services-inner text-center">
                        <span><i class="sl-icon-key"></i></span>
                        <h3>Pilotez votre business</h3>
                        <p>Gérez vos produits, vos commandes, la relation clients et suivez vos statistiques.</p>
                    </div>
                    <div class="col-md-4 services-inner text-center">
                        <span><i class="sl-icon-handbag"></i></span>
                        <h3>Vendez </h3>
                        <p>Partagez votre contenu  et attirez plus de visiteurs Proposez facilement votre boutique en différentes langues</p>
                    </div>

                </div>
            </div>
        </section>
    </div>



    <footer id="fh5co-footer" role="contentinfo">

        <div class="container">



            <div class="col-md-12 fh5co-copyright text-center">
                <p>&copy; 2019 . All Rights Reserved. <span>Designed with  by <a href="hhttp://app4mob.mobi/" target="_blank">APP4MOB</a> </span></p>
            </div>

        </div>
    </footer>
</div>


<!-- jQuery -->
<script src="/vetrine_assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/vetrine_assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/vetrine_assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/vetrine_assets/js/jquery.waypoints.min.js"></script>
<!-- MAIN JS -->
<script src="/vetrine_assets/js/main.js"></script>

</body>
</html>

