
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/vetrine_assets/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/vetrine_assets/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/vetrine_assets/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vetrine_assets/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/vetrine_assets/css/style.css">

    <!-- Modernizr JS -->
    <script src="/vetrine_assets/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/vetrine_assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="header-inner">
                <h1><i class="sl-icon-energy"></i><a href="{{ path("howto_create_shop") }}">E-Shop</a></h1>

            </div>
        </div>
    </header>
    <div id="fh5co-contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Créer ma boutique</h2>
                    <p>Customisez votre boutique</span></p>
                </div>
            </div>
            <div class="row">
            <form action="{#{ path("create-store") }#}">
                <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Raison sociale" type="text">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Secteurs d'activité ?
                                    <select class="form-control" placeholder="Secteurs d'activité" >
                                        <option></option>
                                    </select>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Avez vous déjà un logo ?
                                    <input class="form-control" placeholder="Choisissez un logo" type="file">
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Choisisez votre code couleur
                                    <input value="#51C47F" type="color">
                                </p>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Name" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="prénom" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Tél" type="text">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input value="Valider" class="btn btn-primary" type="submit">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            </div>
        </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo">

        <div class="container">



            <div class="col-md-12 fh5co-copyright text-center">
                <p>&copy; 2019 . All Rights Reserved. <span>Designed with  by <a href="hhttp://app4mob.mobi/" target="_blank">APP4MOB</a> </span></p>
            </div>

        </div>
    </footer>
</div>


<!-- jQuery -->
<script src="/vetrine_assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/vetrine_assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/vetrine_assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/vetrine_assets/js/jquery.waypoints.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="/vetrine_assets/js/google_map.js"></script>
<!-- MAIN JS -->
<script src="/vetrine_assets/js/main.js"></script>

</body>
</html>

