{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock head_javascript %}

{% block main %}
    <style>
        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content:"\f055";
            padding-right: 5px;
        }
        .panel-title > a.collapsed:before {
            float: right !important;
            content:"\f056";
        }
        .panel-title > a:hover, 
        .panel-title > a:active, 
        .panel-title > a:focus  {
            text-decoration:none;
        }
    </style>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success" id="result" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <span>Mise à jour des délégations avec succès</span>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h1>Régions</h1>
        </div>
        <div class="col-md-2" style="padding: 25px;">
            <a class="btn btn-danger" href="{{ path('admin_dashboard') }}" role="button">Annuler</a>
            <button id="btsend" style="float: right;" type="button" class="btn btn-success">Valider</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for value in data %}

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ value.id }}">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ value.id }}" aria-expanded="false" aria-controls="collapse{{ value.id }}">
                                    {{ value.name }}   -----  {{ count_users[value.id].nbr_grossiste ~ '/' ~ count_users[value.id].nbr_deleg }}
                                </a>
                            </h4>

                        </div>
                        <div id="collapse{{ value.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ value.id }}">
                            <div class="panel-body">
                                <div class="row">
                                    <ul class="list-unstyled">
                                        <li><label><input type="checkbox" class="all"> Tous</label></li>
                                        <li><hr></li>
                                            {% for delegation in value.delegations %}
                                            <li>
                                                <label>
                                                    <input 
                                                        type="checkbox" 
                                                        name="casual_dating[]"
                                                        {% if delegation.getGrossisteId() != id  and delegation.getGrossisteId() != null %} 
                                                            disabled="disabled" 
                                                            id="notdeleg"
                                                        {% else %} 
                                                            value="{{ delegation.getId() }}" id="delegit"
                                                        {% endif %}
                                                        {% if delegation.grossiste %} checked="checked" {% endif %}   > 
                                                    {{ delegation.name }} -- {{ delegation.code }}
                                                </label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


            
    <script>
        $('.all').on('click', function (e) {
            $this = this;
            $.each($(this).parents('ul').find('input'), function (i, item) {
                if ($(item).attr("id") != "notdeleg")
                    $(item).prop('checked', $this.checked);
            });
        });

        $('#btsend').on('click', function (e) {
            var data = [];
            var data_unchecked = [];
            $("input:checkbox[id='delegit']:checked").each(function () {
                if ($(this).is(":checked"))
                    data_unchecked.push($(this).val());
                else
                    data.push($(this).val());
            });
            
            $.get(
                Routing.generate('update_affectation', { id: {{ id }}, data: data, data_unchecked: data_unchecked }), 
                function( data ) {
                    $( "#result" ).show();
                }
            );
        });
    </script>


{% endblock %}