{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                    {% if app.session is not empty %}
                        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                        {% if targetUrl is not empty %}
                            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                        {% endif %}
                    {% endif %}
                    <br>

{% endblock content %}
