{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% form_theme form  'FrontendBundle:Form:form_errors.html.twig' %}

    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Acceuil</a></li>
                    <li><a href="{{ path("compte") }}">{{ app.user.firstName }}</a></li>
                    <li class="active"> Changer mot de passe</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i
                                class="fa fa-unlock-alt"></i> Changer mon mot de passe </span></h1>

                <div class="row userInfo">


                        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

                            {% if form.vars.errors is not empty %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form_errors(form) }}
                                </div>
                            {%  endif %}


                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group required">
                                    <label for="InputPasswordCurrent"> Mot de passe actuel  <sup> * </sup> </label>
                                    {{ form_widget(form.current_password,{"attr" : {"class":"form-control"} }) }}
                                    {{ form_errors(form.current_password) }}
                                </div>
                                <div class="form-group required">
                                    <label for="InputPasswordnew"> Nouveau mot de passe  <sup> * </sup> </label>
                                    {{ form_widget(form.new.first,{"attr" : {"class":"form-control"} }) }}
                                    {{ form_errors(form.new.first) }}
                                </div>
                                <div class="form-group required">
                                    <label for="InputPasswordnewConfirm"> Vérification   <sup> * </sup> </label>
                                    {{ form_widget(form.new.second,{"attr" : {"class":"form-control"} }) }}
                                    {{ form_errors(form.new.second) }}
                                </div>
                            </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn   btn-primary"><i class="fa fa-save"></i> &nbsp; Modifier le mot de passe</button>
                                </div>
                            {{ form_rest(form) }}
                    </form>
                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="{{ path("list_produit") }}"> <i class="fa fa-home"></i> Continuer vos achats </a>
                            </li>
                            <li class="next pull-left"><a href="{{ path("compte") }}"> &larr; Mon compte</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->
    {% endblock %}